<ion-header> 
  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>
<ion-content> 
    <ion-searchbar [(ngModel)]="queryWord" placeholder="find ponds, goals, people..." (search)="search($event)"></ion-searchbar> 
        <ion-toolbar *ngIf="newUser" text-wrap>
            <ion-title text-wrap>Thanks for testing out Pondeye!</ion-title>
        </ion-toolbar>
    <ion-card>
        <button ion-button full (click)="goToFeed()">Go to Feed</button>
        <ion-card-header text-center text-wrap>
            What is Pondeye?
        </ion-card-header>
        <ion-card-content text-wrap>
            <p>A fitness journal platform for logging and sharing your fitness goals with others.</p>
        </ion-card-content>
    </ion-card> 
    <ion-card>
        <ion-card-header text-wrap text-center>
            Why Pondeye?
        </ion-card-header>
        <ion-card-content text-wrap>
            <p>Sharing the experience of achieving your goals inspires others to achieve theirs.</p>
        </ion-card-content>
        <ion-card-content text-wrap>
            <p>Making your goals visible creates a sense of accountability needed in achieving daring goals.</p>
        </ion-card-content>
    </ion-card> 
    <ion-toolbar *ngIf="newUser" text-center>
        <ion-title>How Pondeye Works</ion-title>
    </ion-toolbar> 
    <ion-card>
        <ion-card-header text-wrap text-center>
            Create New Entry
        </ion-card-header>
        <ion-card-content text-wrap>
            <p> Press <button ion-fab mini><ion-icon name="add"></ion-icon></button>
                below to create new goals.</p>
        </ion-card-content>
        <ion-card-content text-wrap>
            <p>Goals are things you want to accomplish.</p>
        </ion-card-content>
        <ion-card-content text-wrap>
            <p> Goal: "Run a half marathon on the 22nd of April".</p>
        </ion-card-content>
        <ion-card-content text-wrap>
            <p>Upon Completion of goal REMEMBER to mark it as completed in your profile page. If you don't do this
                prior to the completion time, it will be marked as failed (we don't want that!).
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card> 
        <ion-card-header text-wrap text-center>
            Capturing your Progress
        </ion-card-header>
        <ion-card-content text-wrap>
            <p>Pondeye is about sharing your experiences with others. Hence, you can use pictures and words to capture the progress of your goals.</p>
        </ion-card-content>
        <ion-card-content text-wrap>
            <p>Click this button to do so <button ion-fab mini><ion-icon name="md-camera"></ion-icon></button></p>
        </ion-card-content>
    </ion-card> 
    <ion-card> 
        <ion-card-header text-wrap text-center>
            Ponds (Communities)
        </ion-card-header>
        <ion-card-content text-wrap>
            <p>Ponds are interest and motivation based groups that you can jion or create.</p>
        </ion-card-content>
        <ion-card-content text-wrap>
            <p>You see how to achieve your goals by seeing how others with similar interest and motivation accomplish theirs.</p>
        </ion-card-content>
    </ion-card>
    <ion-card> 
        <ion-card-header text-wrap text-center>
            Create and Find Ponds
        </ion-card-header>
        <ion-card-content text-wrap>
            <p>Simply use the search bar to find a pond based on name or interest.</p>
        </ion-card-content>
        <ion-card-header text-wrap text-center>
            <p>Example of Pond Entry:</p>
        </ion-card-header>
        <ion-card-content text-wrap>
            <p> Name of Pond: Fitness for profesional women.</p>
        </ion-card-content>
        <ion-card-content text-wrap>
            <p>Purpose: A pond for busy professional women interested in staying in shape.</p>
        </ion-card-content>
        <ion-card-content>
            <p>Someone can find this pond by using these key words: "in shape", "professional", "women" etc.</p>
        </ion-card-content>
    </ion-card> 
    <ion-card> 
        <ion-card-content text-wrap>
            <p>If a user completes a goal you voted yes for, it adds more points to that user's ranking and increases your credibility.</p>
        </ion-card-content>
        <ion-card-content text-wrap>
            <p>Be thoughtful with your votes. If a user deosn't complete the tasks it affects your insightfulness credibility.</p>
        </ion-card-content>
        <ion-card-content text-wrap>
            <p>Your insight credibility is like your word. The less accurate you are at voting correctly, the less impact
                your votes has on user's goals
            </p>
        </ion-card-content>
    </ion-card> 
    <ion-card> 
        <ion-card-header text-wrap text-center>
            Failed Goals
        </ion-card-header>
        <ion-card-content text-wrap>
            <p>A <ion-icon color="danger" name="thumbs-down"></ion-icon> is giving for a failed item!</p>
        </ion-card-content>
    </ion-card> 
    <ion-card> 
        <ion-card-header text-wrap text-center>
            Completed Goals
        </ion-card-header>
        <ion-card-content text-wrap>
            <p>A <ion-icon color="primary" name="checkmark-circle"></ion-icon> is giving for a completed item.</p>
        </ion-card-content>
    </ion-card> 
    <ion-card> 
        <ion-card-header text-wrap text-center>
            Impressed?
        </ion-card-header>
    
    <ion-card-content text-wrap> 
    
    
    <p>Let people know you are impressed with their progress by clicking <ion-icon name="md-heart" color="secondary"></ion-icon> .</p> 
    
    </ion-card-content> 
    
    <ion-card-content> 
    
    
    <p>Keep in mind that being impressed might inspire them to progress at that same level.</p> 
    
    </ion-card-content> 
    </ion-card> 
    <ion-card> 
    
    <ion-card-header text-wrap text-center> 
    
    
    Work Ethic Rank 
    
    </ion-card-header> 
    
    <ion-card-content text-wrap> 
    
    
    <p>Where you stand in comparison within the pondeye community as 
        a whole and within your own personal ponds!</p> 
    
    </ion-card-content> 
    
    <ion-card-content text-wrap> 
    
    
    <p>This is determined by both the quantity of goals completed, as well as the consistency of their completions!</p> 
    
    </ion-card-content> 
    
    </ion-card> 
    <ion-card> 
    
    
    <ion-card-header text-wrap text-center> 
    
    
    
    Seen By <ion-icon name="md-eye" color="primary"></ion-icon> 
    
    
    </ion-card-header> 
    
    
    <ion-card-content text-wrap> 
    
    
    
    <p>The view represents how many distinct individuals have seen your goal.</p> 
    
    
    </ion-card-content> 
    </ion-card> 
    <ion-card> 
    
    <ion-card-header text-wrap text-center> 
    
    
    Entries 
    
    </ion-card-header> 
    
    <ion-card-content text-wrap> 
    
    
    <p>Everything you create namely: goals, pictures, personal info and ponds can be edited here.</p> 
    
    </ion-card-content> 
    
    <ion-card-content text-wrap> 
    
    
    <p>Goals are still marked as failed if deleted 24 hours past their creation!</p> 
    
    </ion-card-content> 
    </ion-card> 
    <ion-card> 
    
    <ion-card-header text-wrap text-center> 
    
    
    Technical Support
    
    </ion-card-header> 
    
    <ion-card-content text-wrap> 
    
    
    <p>For Additional Questions and Support Contact us at pondeye@textdoar.com</p> 
    
    
    
    
    </ion-card-content> 
    </ion-card> 
    <br><br> 
    <ion-fab bottom right> 
    
    <button ion-fab mini (click)="createPost()"> 
    
    
    <ion-icon name="add"></ion-icon> 
    
    </button> 
    
    <br> 
    
    <button ion-fab mini (click)="createPicture()"> 
    
    
    <ion-icon name="md-camera"></ion-icon> 
    
    </button> 
    </ion-fab>
</ion-content> 
<ion-footer> 
    
    <div class="bottom_bar" text-center text-wrap> 
        <span color="primary"> &copy; Pondeye LLC pondeye@textdoar.com</span> 
    </div> 
    <div class="bottom_bar" text-center text-wrap> 
        <span (click)="goToTerms()" color="secondary">Terms and Conditions</span> 
    </div> 
</ion-footer>
