# Created by .ignore support plugin (hsz.mobi)
node_modules/
www/build/
platforms/
plugins/
.DS_Store
.idea/
gradle-2.14.1-all.zip
my-release-key.keystore
CertificateSigningRequest.certSigningRequest

