<ion-header>  
  <ion-navbar color="primary">    
    <button ion-button menuToggle>      
      <ion-icon name="menu"></ion-icon>    
    </button>    
    <ion-title>Goal</ion-title>  
  </ion-navbar>
</ion-header>
<ion-content>    
  <ion-searchbar [(ngModel)]="queryWord" placeholder="find ponds, goals, people..." (search)="search($event)"></ion-searchbar>    
  <div *ngIf="projData" class="item-post">        
        <ion-item *ngIf="projData.is_completed" class="no-border" text-wrap text-center>            
          <ion-toolbar> <ion-title>{{ projData.is_completed }}</ion-title></ion-toolbar>      
        </ion-item>        
        <ion-item class="no-border" text-wrap>          
            <h2 (click)="viewUser(post.user_id)">Owner: {{ projData?.user_first_name }}  {{ projData?.user_last_name }}</h2>          
            <p>{{ projData.start_time }} to {{ projData.end_time }}</p>        
        </ion-item>            
        <ion-item text-wrap no-padding class="post-body">          
          <div padding>             
            <h2>{{ projData.project_name }}</h2>          
          </div>          
          <ion-item>                             
                <span item-left>Seen By <ion-icon name="md-eye" color="primary"></ion-icon></span>                
                <ion-badge item-right color="gray">{{ projData.seen_count }} ponder(s)</ion-badge>
          </ion-item>
          <ion-item *ngIf="!projData?.is_completed_bool && !projData?.is_failed">                                            
                <button item-left (click)="createFollow(projData?.proj_id)" 
                    ion-button outline class="green">Follow Goal</button> 
                  <ion-badge item-right color="gray">{{  followCount }} follower(s)</ion-badge>       
          </ion-item>        
        </ion-item> 
         <ion-item *ngIf="!projData?.is_completed_bool && !projData?.is_failed">     
              <span> Will goal be completed?</span> 
              <ion-badge color="gray" item-right>{{ projData.vouch_count }} Yeses</ion-badge> 
              <div>
                <button ion-button outline (click)="createVouch(projData?.proj_id, 'yuwcg')">Yes</button>
                <button ion-button outline (click)="createVouch(projData?.proj_id, 'nuwncg')">No</button>
              </div> 
          </ion-item>   
           <ion-item *ngIf="projData?.is_completed_bool || feed?.is_failed">                 
                  <span item-left>Goal was followed by</span>                  
                  <ion-badge item-right color="gray">{{  followCount }} ponders(s)</ion-badge>                          
           </ion-item>
           <ion-item *ngIf="projData?.is_completed_bool">                     
                    <span item-left>Lived up to the hype of</span>        
                <ion-badge item-right color="gray">{{ projData.vouch_count }} ponders(s)</ion-badge>                          
           </ion-item>
           <ion-item *ngIf="projData?.is_failed">    
                    <span item-left> Let downs</span>
                    <ion-badge item-right color="gray">{{ projData.vouch_count }} ponders(s)</ion-badge>                          
           </ion-item>     
        <ion-item *ngIf="projData.user_owns_proj" text-wrap>            
          <p  text-wrap>{{ projData.public_status }}</p>        
        </ion-item>       
        <div text-wrap padding *ngIf="!noMotif">
          <ion-label class="font-wrting-pond" color="primary">Motivations</ion-label>  
          <div>
            <ion-badge *ngFor="let tags of projData.motif" color="gray">{{ tags }} </ion-badge>
          </div>
          <br>
        </div>               
        <ion-item *ngIf="noMotif" text-wrap>
            <p>No particular motivation stated!</p>
        </ion-item>                
        <ion-toolbar> <ion-title text-center>Progression</ion-title></ion-toolbar>
        <div padding *ngFor="let progress of projData.progresses" text-wrap>
           <ion-item text-wrap>{{ progress.progress_message }}</ion-item>
          <ion-card text-wrap no-padding class="post-body">            
              <img class="full-image" src="{{ progress.image_url }}">                  
              <ion-card-content>                 
                  <span (click)="createImpression(progress.progress_id, progress.progress_set_id)">                  
                      <ion-icon style="font-size: 24px;"  name="md-heart" color="secondary"></ion-icon> 
                  </span>             
                  <ion-badge item-right color="gray">{{ impressCountList[progress.progress_id] }} ponders' impressed</ion-badge>       
              </ion-card-content>       
          </ion-card>    
         </div> 
         <ion-item *ngIf="!projData.progresses" text-wrap>
            <p>No progression captured!</p>
        </ion-item>      
   </div>    
  <ion-fab bottom right>    
     <button ion-fab mini (click)="createPost()">      
        <ion-icon name="add"></ion-icon>    
      </button>    
        <br>    
      <button ion-fab mini (click)="createPicture()">      
        <ion-icon name="md-camera"></ion-icon>    
      </button>  
   </ion-fab>
</ion-content>
<ion-footer>
  <br>
</ion-footer>