<ion-header>  
    <ion-navbar color="primary">    
        <button menuToggle ion-button>      
            <ion-icon name="menu"></ion-icon>    
        </button>    
        <ion-title>Picture Set</ion-title>  
    </ion-navbar>
</ion-header>
<ion-content>	
    <ion-searchbar [(ngModel)]="queryWord" placeholder="find ponds, goals, motivations, and people" (search)="search($event)"></ion-searchbar>
    <div class="item-post" *ngFor="let eachSet of picSetList">     
        <ion-card>       
            <ion-item class="no-border">          
                    <p>{{ eachSet.blurb }}</p>        
            </ion-item>        
            <ion-card-content text-wrap no-padding class="post-body">            
                <img class="full-image" src="{{ eachSet.before_picture.url }}">        
                </ion-card-content>        
                <ion-card-content  *ngIf="eachSet.hasAfterPicture" text-wrap no-padding class="post-body">            
                    <img class="full-image" src="{{ eachSet.after_picture.url }}">        
            </ion-card-content>        
            <ion-item>          
                <button ion-button color="secondary"  *ngIf="eachSet.hasAfterPicture" (click)="updatePictureSetAfter(eachSet.after_picture.id)">Update After Picture</button>          
                <button ion-button color="danger" (click)="deletePictureSet(eachSet.id)">Delete Set</button>        
            </ion-item>    
        </ion-card>    	
        <br><br><br>    
    </div>    
    <ion-item *ngIf="!hasSet" text-wrap>      
        <p>You have not added a picture to your fitness yet.Click on the camera button at the bottom right to begin</p>    
    </ion-item>  
    <ion-fab bottom right>    
        <button ion-fab mini (click)="createPost()">      
            <ion-icon name="add"></ion-icon>    
        </button>    
        <br>    
        <button ion-fab mini (click)="createPicture()">      
            <ion-icon name="md-camera"></ion-icon>    
        </button>  
    </ion-fab>	
</ion-content>