<ion-header>
      <ion-navbar color="primary">    
          <button menuToggle ion-button>      
              <ion-icon name="menu"></ion-icon>    
          </button>    
          <ion-title>Goal Entries</ion-title>  
      </ion-navbar>
</ion-header>
<ion-content>	
    <ion-searchbar [(ngModel)]="queryWord" placeholder="find ponds, goals,people..." (search)="search($event)"></ion-searchbar>  
    <ion-list class="list-full-border">			
        <span *ngIf="hasProject">				
            <div *ngFor="let proj of projectList">							
                <ion-item class="row" *ngIf="showProjectArray[proj.id]" text-wrap>									
                    <ion-label>Finish By: {{ proj.time }}</ion-label>							
                </ion-item>							
                <ion-item *ngIf="showProjectArray[proj.id]">									
                    <ion-textarea [(ngModel)]="modelArray[proj.id]"></ion-textarea>							
                </ion-item>							
                <ion-item *ngIf="showProjectArray[proj.id]">									
                    <ion-label>Check tags that best describes the motivation of this goal?</ion-label>									
                    <ion-select [(ngModel)]="tagModelArray[proj.id]" multiple="true">										
                        <ion-option  value="Relationship">Relationship</ion-option>										
                        <ion-option  value="Health">Health</ion-option>										
                        <ion-option  value="Self-Image">Self-Image</ion-option>										
                        <ion-option  value="Social Cause">Social Cause</ion-option>										
                        <ion-option  value="Self-Improvement">Self-Improvement</ion-option>										
                        <ion-option  value="A Challenge">A Challenge</ion-option>										
                        <ion-option  value="Diet">Diet</ion-option>										
                        <ion-option  value="Get In Shape">Get In Shape</ion-option>										
                        <ion-option  value="Build Muscle">Build Muscle</ion-option>										
                        <ion-option  value="Lose Weight">Lose Weight</ion-option>									
                    </ion-select>							
                </ion-item>							
                <ion-item *ngIf="showProjectArray[proj.id]">										
                    <button ion-button outline (click)="deleteProject(proj.id)"  color="danger">											
                        Delete										
                    </button>										
                    <button ion-button outline (click)="updateProject(proj.id)"  color="primary">											
                        Update										
                    </button>	
                    <button ion-button outline (click)="viewProject(proj.id)"  color="green">											
                        View Goal										
                    </button>					
                </ion-item>								
                <br><br><br>						
            </div>				
        </span>						
        <ion-item text-wrap *ngIf="!hasProject">			
            <p>I do not have a goal entry yet.</p>		
        </ion-item>  
    </ion-list>		
    <ion-fab bottom right>    
        <button ion-fab mini (click)="createPost()">      
            <ion-icon name="add"></ion-icon>   
        </button>		
        <br>    
        <button ion-fab mini (click)="createPicture()">      
            <ion-icon name="md-camera"></ion-icon>   
        </button>  
    </ion-fab>	
 </ion-content>