// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// global styles

.primary-bg {
  background-color: color($colors, primary);
}

.secondary-bg {
  background-color: color($colors, secondary);
}

.gray-bg {
  background-color: color($colors, gray);
}

.light-bg {
  background-color: color($colors, light);
}

.white-bg {
  background-color: color($colors, white);
}

.padding-xs {
  padding: 10px;
}

.round {
  border-radius: 3px;
}

.no-round {
  border-radius: 0;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

// text size
.text-2x {
  font-size: 2em;
}

.text-1x {
  font-size: 1em;
}

.text-sm {
  font-size: 0.7em;
}

.bold {
  font-weight: bold;
}

// position
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.clear,
.cf {
  clear: both;
}

.align-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid color($colors, border-color);
}

// badge style
ion-badge {
  &.square {
    border-radius: 0;
  }
}

// card style
.card {
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

// navbar style
ion-navbar.no-border {

  .toolbar-background {
    border: none;
  }
}

// transparent nav bar
.toolbar.nav-transparent {

  .toolbar-background {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item.item-block {
    .item-inner {
      border: none;
    }
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid color($colors, border-color);

    .item-inner {
      border: none;
    }
  }
}

// item style
.item.item-block.no-border {

  .item-inner {
    border: none;
  }
}

// button style
.btn-round {
  height: 2.4em;
  border-radius: 1.2em;
}

// common classes
.middle-align {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// fix slides style
ion-slides {
  .swiper-pagination.hide {
    display: block !important;
  }
}

// others
.auth-bg {
  background: url("../assets/img/bg.jpg");
  background-size: 100% 100%;
}

.border-bottom {
  border-bottom: 1px solid color($colors, border-color);
}

// post style
.item-post {
  ion-item.item-block {

    .item-inner {
      padding-right: 0;

      ion-label {
        margin-right: 0;
      }
    }

    &.post-body {
      padding: 0;

      .item-inner {
        padding: 0;

        ion-label {
          margin-top: 0;
        }

        p {
          padding-left: 8px;
          padding-right: 8px;
        }

        iframe,
        img {
          & + p {
            margin-top: 8px;
          }
        }
      }
    }

    .actions {
      padding: 8px 8px 0;
      font-size: 1.2em;
    }
  }
}

// toolbar style
ion-toolbar {

  &.no-border {

    .toolbar-background {
      border: none;
    }
  }
}
