<ion-menu [content]="content">

    <ion-content class="menu-left">
        <!-- User profile -->
        <div text-left padding class="gray-bg menu-left">
            <a menuClose (click)="openProfilePage()">
                <img class="profile-picture" src="{{ userProfilePic }}">
                <h4 color="light">Profile</h4>
            </a>
        </div>

        <ion-list class="list-full-border">
            <button ion-item menuClose icon-left *ngFor="let page of pages" (click)="openPage(page)">
                <ion-icon name="{{ page.icon }}"></ion-icon>
                {{ page.title }}
                <ion-badge color="danger" item-right *ngIf="page.count">{{ page.count }}</ion-badge>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
