<ion-header>
	<ion-navbar color="light">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>New Post</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>	
	<ion-searchbar [(ngModel)]="queryWord" placeholder="find ponds, goals, and people" (search)="search($event)"></ion-searchbar>
	<ion-list class="list-no-border">	
		<ion-item>
			<ion-textarea #goalName placeholder="My Goal is to..."></ion-textarea>
		</ion-item>
		 <ion-item>
			 <ion-label>What best describes your motivation?</ion-label>
			 <ion-select [(ngModel)]="tags" multiple="true">
				<ion-option value="Relationship">Relationship</ion-option>
				<ion-option value="Health">Health</ion-option>
				<ion-option value="Self-Image">Self-Image</ion-option>
				<ion-option value="Social Cause">Social Cause</ion-option>
				<ion-option value="Self-Improvement">Self-Improvement</ion-option>
				<ion-option value="A Dare">A Dare</ion-option>
				<ion-option value="Diet">Diet</ion-option>
				<ion-option value="Get In Shape">Get In Shape</ion-option>
				 <ion-option value="Build Muscle">Build Muscle</ion-option>
				<ion-option value="Lose Weight">Lose Weight</ion-option>
			</ion-select>
		 </ion-item>
		 <ion-item>
			<ion-label>Finished Date?</ion-label>
			<ion-datetime [(ngModel)]="projComDate" displayFormat="MMM DD YYYY"></ion-datetime>
		 </ion-item>
		<ion-item>
			<ion-label>Finished Time?</ion-label>
			<ion-datetime [(ngModel)]="projComTime" dispdisplayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
		</ion-item>
		<ion-item *ngIf="hasPond">
			<ion-label>Who Can See This Goal?</ion-label>
			<ion-select [(ngModel)]="public_status">
				<ion-option value="{{pond.id}}" *ngFor="let pond of projAndPond.pond.ponds">{{pond.pond_name}}</ion-option>
				<ion-option value="aps">All Pond</ion-option>
				<ion-option checked="true" value="">Public</ion-option>
			</ion-select>
		 </ion-item>
		 <ion-item>
			<ion-label class="item item-input">
				<button ion-button color="light" (click)="addNewProject(goalName.value)" large>Add Project</button>
				<button ion-button color="light" (click)="createProjectPicture()" large>Add Picture</button>
			</ion-label>
		 </ion-item>
	</ion-list>	
</ion-content>