<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-wrap>{{ userName }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="queryWord" placeholder="find ponds, goals, people.." (search)="search($event)"></ion-searchbar>
    <div text-center class="user-profile" [ngStyle]="{'background-image': 'url(' + cover_url + ')'}">
      <div class="bg-dark">
        <ion-grid>
          <ion-row class="middle-align">
              <ion-col *ngIf="yourProfile">
                <button ion-button color="light" class="action" (click)="takeProfilePicture(profUserId)">
                  <ion-icon name="md-camera"></ion-icon>
                </button>
              </ion-col>
              <ion-col>
                  <img class="profile-picture" src="{{ profilePic }}">
              </ion-col>
          </ion-row>
          <br><br><br><br>
          <ion-row>
            <ion-col>
              <h4 color="light">{{ firstName }} {{ lastName }}</h4>
            </ion-col>
          </ion-row>
           <ion-row>
              <ion-col item-left>
                <span class="desc font-writing-insight">Goal Followers
                  <span class="number"><ion-badge color="gray">{{ user_stats?.total_goal_followers }} ponders</ion-badge></span>
                </span>
              </ion-col>
              <ion-col>
                <span class="desc font-writing-insight">Completions </span>
                <span class="desc font-writing-insight">{{ user_stats?.consistency_percentage }}%
                  <ion-badge *ngIf="gradeHigh" color="green">
                    {{ user_stats?.consistency_grade }}
                  </ion-badge>
                  <ion-badge *ngIf="!gradeHigh" color="danger">
                    {{ user_stats?.consistency_grade }}
                  </ion-badge>
                </span>
              </ion-col>
           </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="posts">
    <ion-card>
        <ion-card-header class="font-writing-header">
          <span *ngIf="yourProfile" class="font-writing-header" item-left>Your</span>
                    <span *ngIf="!yourProfile" item-left>{{ firstName }}'s</span> Insights
        </ion-card-header>
         <ion-list >
            <ion-item [ngStyle]="{'background-image': 'url(' + background_url + ')'}">
              <span item-left class="font-writing-insight">Goals Completed</span>
              <span item-right class="insight-number">{{ user_stats?.goal_success_count }}</span>
            </ion-item>
            <ion-item [ngStyle]="{'background-image': 'url(' + background_url + ')'}">
              <span item-left class="font-writing-insight">Failed Goals</span>
              <span item-right class="insight-number">{{ user_stats?.goal_failed_count }}</span>
            </ion-item>
            <ion-item [ngStyle]="{'background-image': 'url(' + background_url + ')'}">
              <span item-left class="font-writing-insight">Total Goals Attempted</span>
              <span item-right class="insight-number">{{ user_stats?.total }}</span>
            </ion-item>
            <ion-item [ngStyle]="{'background-image': 'url(' + background_url + ')'}">
              <ion-col>
              <span item-left class="font-writing-insight">Times 
                <span class="font-writing-insight" *ngIf="yourProfile" item-left>You Impressed</span>
                    <span *ngIf="!yourProfile" item-left>{{ firstName }}'s Impressed</span>
                </span>
              </ion-col>
              <span class="insight-number" item-right>{{ user_stats?.total_times_impressed }}</span>
            </ion-item>
            <ion-item [ngStyle]="{'background-image': 'url(' + background_url + ')'}">
              <span item-left class="font-writing-insight">Accurate Votes on Goals</span>
              <span item-right class="insight-number">{{ user_stats?.correct_vouch_percentage }}%</span>
            </ion-item>
         </ion-list>
         <ion-card-header *ngIf="yourProfile" class="font-writing-header">
          Comparison to Others
         </ion-card-header>
         <ion-list *ngIf="yourProfile" [ngStyle]="{'background-image': 'url(' + background_url + ')'}">
            <ion-item text-wrap [ngStyle]="{'background-image': 'url(' + background_url + ')'}">
              <span text-center text-wrap class="font-writing">Work Ethic</span>
              <div text-wrap class="font-writing-insight">Your Work Ethic is Better Than {{ user_stats?.work_ethic_consis_rank }}% of Ponders</div>
            </ion-item>
            <ion-item text-wrap [ngStyle]="{'background-image': 'url(' + background_url + ')'}">
              <span text-center text-wrap class="font-writing">Insightfulness</span>
              <div text-wrap class="font-writing-insight">
                Your Voting Record is More Insightful Than {{ user_stats?.work_ethic_correct_vouch }}% of Ponders
              </div>
            </ion-item>
            <ion-item text-wrap [ngStyle]="{'background-image': 'url(' + background_url + ')'}">
              <span text-center text-wrap class="font-writing">Consistency</span>
              <div text-wrap class="font-writing-insight">
                You are More Consistent in Finishing Your Goals Than {{ user_stats?.work_ethic_consis_rank }}% of Ponders
              </div>
            </ion-item>
         </ion-list>
    </ion-card>
    </div>
    <hr>
    <ion-item *ngIf="!yourProfile">
        <ion-label>Choose Pond to Add {{ firstName }} to</ion-label>
        <ion-select [(ngModel)]="selectedPond" (ionChange)="addUsertoPond()">
            <ion-option value="{{ pond.id }}" *ngFor="let pond of aval_pond">{{ pond.blurb }}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="currentProjects && yourProfile" class="posts">
        <h4>Upcoming Goals</h4>
        <div class="item-post border-bottom" *ngFor="let curr_proj of currentProjects">
            <ion-item class="no-border" text-wrap>
                <p (click)="viewProject(curr_proj.id)">{{ curr_proj.blurb }}</p>
            </ion-item>
            <ion-item *ngIf="yourProfile">
                <button ion-button large outline color="green" (click)="verifyProjDone(curr_proj.id)">Completed</button>
            </ion-item>
        </div>
    </ion-item>
    <ion-item *ngIf="!all_projects" class="posts">
      <h4>Upcoming Goals</h4>
      <div class="item-post border-bottom">
          <ion-item class="no-border" text-wrap>
              <p>No Upcoming Goals!</p>
          </ion-item>
      </div>
    </ion-item>
    <ion-item *ngIf="hasProj" class="posts" text-wrap>
        <ion-list-header>
          <h2 class="font-wrting-pond" color="primary">{{ firstName }} {{ lastName }} Activities</h2>
        </ion-list-header>
        <div class="item-post border-bottom" *ngFor="let all_proj of all_projects">
            <ion-item class="no-border" text-wrap>
                <p class="font-writing" (click)="viewProject(all_proj.id)">{{ firstName }} 
                  {{ all_proj.message }} {{ all_proj.blurb }}</p>
            </ion-item>
        </div>
     </ion-item>
     <ion-item *ngIf="!hasProj" class="posts">
        <h1>Goal Activities</h1>
            <div class="item-post border-bottom">
              <ion-item class="no-border" text-wrap>
                  <p>No Goals Have Been Created!</p>
              </ion-item>
            </div>
      </ion-item>

      <ion-fab bottom right>
        <button ion-fab mini (click)="createPost()">
            <ion-icon name="add"></ion-icon>
        </button>
        <br>
        <button ion-fab mini (click)="createPicture()">
            <ion-icon name="md-camera"></ion-icon>
        </button>
      </ion-fab>
  </ion-content>
<ion-footer>
  <hr>
</ion-footer>