page-notifications {

  .notification-content {
    font-size: 0.8em;
  }
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$general-font: 'Open Sans', sans-serif;
p h1 h2 h3 span {
    font-family: $general-font;
}