<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Pond</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
    <ion-searchbar [(ngModel)]="queryWord" placeholder="find ponds, goals, people.." (search)="search($event)"></ion-searchbar>
    <div *ngIf="pond" class="list-full-border">
        <button *ngIf="!pond.is_member" (click)="sendPondRequest(pond.id)" ion-button color="gray" outline large text-center>
            Join Pond
        </button>
        <ion-card *ngIf="pond" class="card">
            <ion-title text-center class="font-wrting-pond" color="primary">Name of Pond</ion-title>
            <ion-item text-wrap>
                {{ pond.name_of_pond }}
            </ion-item>
            <ion-title text-center class="font-wrting-pond" color="primary">Purpose</ion-title>
            <ion-item class="item item-text-wrap" text-wrap>
                {{ pond.purpose }}
            </ion-item>
        </ion-card>
        <div text-wrap padding *ngIf="!noMotif">
            <ion-label class="font-wrting-pond" color="primary" >Motivations</ion-label>  
                <div>
                    <ion-badge *ngFor="let tags of pond.tags" color="gray">{{ tags }} </ion-badge>
                </div><br>
        </div>          
        <ion-item *ngIf="noMotif" text-wrap>
            <p>No particular motivation stated!</p>
        </ion-item>
        <ion-list>
            <ion-list-header><h1 class="font-wrting-pond" color="primary">Pond's Leaderboard</h1></ion-list-header> 
            <ion-item color="gray">
                <span item-left>Pond Member</span>
                <span item-right>Work Ethic Rank</span>
            </ion-item>
            <ion-item *ngFor="let ponder of pond.ponders">
                <ion-avatar item-left>
                    <img src="{{ ponder.profile_pics_url }}">
                </ion-avatar>
                <h2 (click)="viewProfile(ponder.id)">{{ ponder.first_name }}
                    <span *ngIf="ponder.is_creator"> (Creator)</span>
                </h2>
                <p (click)="viewProfile(ponder.id)">{{ ponder.last_name }}</p>
                <span item-right>{{ ponder.rank }} points</span>
            </ion-item>
        </ion-list>
        <h3 color="primary" *ngIf="!pond.ponders" text-wrap>Empty Pond</h3>
    </div>
    <ion-fab bottom right>
        <button ion-fab mini (click)="createPost()">
            <ion-icon name="add"></ion-icon>
        </button>
        <br>
        <button ion-fab mini (click)="createPicture()">
            <ion-icon name="md-camera"></ion-icon>
        </button>
    </ion-fab>
</ion-content>